/* FAQ Page Styles */

/* Glossary Page (Alpha) */
.alphanav {
	display: block;
	border: 2px solid #ccc;
	background-color: #fff;
	color: #333;
	padding: 5px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 24px;
	height: auto;
	text-align: center;
	text-decoration: none;
}
.alphanav:hover, .alphanav.active {
	background-color: #C1272D;
	color: #fff;
	text-decoration: none;
}
.alpha-answers h2 {
	color: #C1272D;
	font-size: 28px;
}
.faq-answers {
	display: none;
}

.faq-answers[aria-hidden="false"] {
	display: block
}

/*NEW FAQ STYLES*/

.faq-v1, .faq-v2, .faq-v3 {
	font-size: 1rem;
	line-height: 1.5;
	margin: 3rem 0;
}
.faq-head {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}
.faq-heading {
	flex-basis: 100%;
	margin: 0;
	font-size: 1.75rem;
	line-height: 1.5;
	padding: .5rem 0;
}
.faq-controls {
	padding: 0;
	margin: .5rem 0 .5rem 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	flex-basis: 100%;
	counter-reset: faqCounter;
	margin-bottom: 1rem;
}
.faq-controls a {
	padding: .25rem;
	flex-basis: 50%;
	text-align: center;
	transition: all .3s ease-in-out 0s;
	position: relative;
}
.faq-questions {
	position: relative;
	counter-increment: faqCounter;
	transition: all .3s ease-in-out 0s;
}
.faq-questions ~ *:not(.faq-answers) {
	margin-top: 1rem;
}
.faq-questions p {
	font-weight: 700;
	line-height: 1.5;
	padding: .5rem 0;
	position: relative;
	display: inline-block;
	width: auto;
	box-sizing: border-box;
	padding-right: 2.5rem !important;
}
.faq-questions:hover {
	cursor: pointer;
}
.numbered .faq-questions p::before {
	content: counter(faqCounter)". ";
	display: inline-block;
	box-sizing: border-box;
	margin-right: .5rem;
	font-weight: 300;
}
.faq-v1 .faq-heading {
	background-color: #0a5796;
	color: #fff !important;
	padding: .5rem;
}
.faq-v1 .faq-controls a {
	text-decoration: none;
	background-color: #333333;
	color: #ffffff;
	border-radius: 3px;
}
.faq-v1 .faq-controls a {
	margin: 0 .25rem;
}
.faq-v1 .faq-controls a:first-of-type {
	margin-left: 0;
}
.faq-v1 .faq-controls a:last-of-type {
	margin-right: 0;
}
.faq-v1 .faq-controls a:hover {
	background-color: #0a5796;
	color: #fff;
}
.faq-v1 .faq-head + p, .faq-v2 .faq-head + p, .faq-v3 .faq-head + p {
	color: #333;
	padding-left: .5rem;
}
.faq-v1 .faq-head + p {
	margin-top: -.25rem;
}
.faq-v2 .faq-head + p {
	background: #fff;
	margin: 0;
	padding: .5rem 0 .5rem .5rem;
}

@media (max-width:767px) {
.faq-v2 .faq-head + p {
	margin-top: -.5rem;
}
}
.faq-controls a:focus, .faq-questions:focus p, .faq-questions:focus {
	text-decoration: underline !important;
	text-decoration-skip: ink;
	text-decoration-color: currentColor !important;
	border: none;
	outline: none;
}
.faq-v1 .faq-questions {
	background: #777677;
	border-radius: 5px;
	padding: 0 .5rem;
	display: flex;
	flex-flow: row nowrap;
}
.faq-v1 .faq-questions.expanded + .faq-answers {
	padding: 1.5rem 1.5rem 3rem;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: rgba(0,0,0,.05);
}
.faq-v1 .faq-questions:not(.expanded):hover {
	background-color: #333;
	cursor: pointer;
}
.faq-v1 .faq-questions.expanded {
	background-color: #0a5796;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.faq-v1 .faq-questions p {
	color: #fff;
	margin: 0;
}
.faq-v1 .faq-questions::before {
	content: "";
	position: relative;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color: #fff;
	vertical-align: middle;
/*	align-self: center;*/
	transform-origin: center center;
	transition: all .3s ease-in-out 0s;
	margin-right: .25rem;
	display: inline-block;
	top:.75rem;
}
.faq-v1 .faq-questions.expanded::before {
	transform: rotate(90deg);
	top: 1rem;
	left: -3px
}
.faq-v1 {
	margin-bottom: 5rem;
}
.faq-v2 .faq-heading {
	background: #0a5796;
	color: #fff !important;
	padding: .5rem;
}
.faq-v2 .faq-controls a {
	background-color: #333;
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
}
.faq-v2 .faq-controls a:hover {
	background-color: #0a5796;
}
.faq-controls a:last-of-type {
	margin-left: .5rem;
}
.faq-v2 {
	background: #eee;
	padding-bottom: .0125rem;
}
.faq-v2 .faq-controls {
	background: #fff;
}
.faq-v2 .faq-questions {
	margin: .25rem 0;
	background-color: #fff;
	padding: .5rem;
}
.faq-v2 .faq-questions::after {
	content: "";
	position: absolute;
	height: 2rem;
	width: 2rem;
	right: .25rem;
	top: .25rem;
	transition: all .3s ease-in-out 0s;
	background: linear-gradient(to bottom, transparent calc(50% - 2px), #0a5796 calc(50% - 2px), #0a5796 calc(50% + 2px), transparent calc(50% + 2px)),  linear-gradient(to right, transparent calc(50% - 2px), #0a5796 calc(50% - 2px), #0a5796 calc(50% + 2px), transparent calc(50% + 2px));
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1rem 1rem;
	transition: all .3s ease-in-out 0s;
}
.faq-v2 .faq-questions.expanded::after {
	background-size: 1.25rem, 0;
}
.faq-v2 .faq-questions p {
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
.faq-v2 .faq-questions:hover {
	background: #eee;
}
.faq-v2 .faq-questions.expanded {
	background-color: #0a5796;
}
.faq-v2 .faq-questions.expanded p {
	color: #fff;
}
.faq-v2 .faq-questions.expanded::after {
	content: "";
	position: absolute;
	height: 2rem;
	width: 2rem;
	right: .25rem;
	top: .25rem;
	transition: all .3s ease-in-out 0s;
	background: linear-gradient(to bottom, transparent calc(50% - 2px), #ffffff calc(50% - 2px), #ffffff calc(50% + 2px), transparent calc(50% + 2px)),  linear-gradient(to right, transparent calc(50% - 2px), #ffffff calc(50% - 2px), #ffffff calc(50% + 2px), transparent calc(50% + 2px));
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1rem 1rem, 0;
}
.faq-v2 .faq-questions.expanded + .faq-answers {
	padding: 1.5rem 1.5rem 3rem;
	background: #fff;
}
.faq-v3 .faq-questions {
}
.faq-v3 .faq-questions p {
	background-color: #0a5796;
	color: #fff;
	display: block;
	padding: .5rem;
	transition: all .3s ease-in-out 0s;
}
.faq-v3 .faq-questions::after {
	content: "";
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	right: .5rem;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 100%;
	background: linear-gradient(to bottom, transparent calc(50% - 2px), #0a5796 calc(50% - 2px), #0a5796 calc(50% + 2px), transparent calc(50% + 2px)),  linear-gradient(to right, transparent calc(50% - 2px), #0a5796 calc(50% - 2px), #0a5796 calc(50% + 2px), transparent calc(50% + 2px)), #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1rem 1rem;
	transition: all .3s ease-in-out 0s;
}
.faq-v3 .faq-controls a {
	background-color: #777677;
	color: #ffffff;
	font-weight: 700;
	border-radius: 3px;
	text-decoration: none;
}
.faq-v3 .faq-controls a:hover {
	background-color: #0a5796;
}
.faq-v3 .faq-heading {
	padding: .5rem;
	background: linear-gradient(to bottom, #0a5796 1px, transparent 1px), linear-gradient(to top, #0a5796 1px, transparent 1px);
}
.faq-v3 .faq-questions:hover p {
	background: #333;
}
.faq-v3 .faq-questions.expanded + .faq-answers {
	padding: 1rem .5rem 1.5rem;
}
.faq-v3 .faq-questions.expanded p {
	background-color: #333333;
}
.faq-v3 .faq-questions.expanded::after {
	background: linear-gradient(to bottom, transparent calc(50% - 2px), #0a5796 calc(50% - 2px), #0a5796 calc(50% + 2px), transparent calc(50% + 2px)),  linear-gradient(to right, transparent calc(50% - 2px), #0a5796 calc(50% - 2px), #0a5796 calc(50% + 2px), transparent calc(50% + 2px)), #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1rem 1rem, 0;
}

@media(min-width:767px) {
.faq-controls {
	order: -1;
	justify-content: flex-end;
	margin-bottom: .5rem !important;
}
.faq-controls a {
	flex-basis: 20%;
}
.faq-v1 .faq-heading {
	margin-bottom: 1rem;
}
.faq-v1 .faq-questions.expanded + .faq-answers {
	padding: 1.5rem 2rem 3rem;
}
.faq-v2 .faq-controls {
	padding: .5rem 0;
	margin: 0 !Important;
}
.faq-v2 .faq-heading {
	margin-top: 0!important;
}
.faq-v3 .faq-heading {
	margin-bottom: 1rem !important;
}
}
